:root{
    --background: #1D1D1D;
    --footer: #D6D6D6;
    --color: black;
    --yellow: #E0E300;
    --pink: #FF598F;
    --orange: #FD8A5E;
    --blue: #01DDDD;
    --green: #C7F465;
    --white: #FFFFFF;
    --black: #000000;
}

footer {
    display: grid;
    position: relative;
    width: 100%;
    height: auto;   
    background: #D6D6D6;
    justify-content: center;
}

th {
    color: var(--color);
    padding: 0.5rem 0;
}

table {
    border-collapse: separate;
    border-spacing: 1rem 0.5rem;
}

._upper {
    display: flex;
}

._about {
    margin-block: 1rem;
}

._socnet {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-block: 1rem;
}

.fa-brands {
    font-size: 2.5rem;
}

.fa-regular {
    font-size: 2.5rem;
} 

.fa-solid {
    font-size: 2.5rem;
}

._down p{
    text-align: right;
    font-size: 1rem;
    color: var(--color);
}

.table {
    font-size: 1.35rem;
}

.strings {
    color: var(--black);
}
.strings:hover {
    cursor: pointer;
}